<div ng-init="init()">
    <span class="headline-text tab-head" ng-click="changeTab(1)" ng-class="{'active': curTab == 1}">Communities</span>
    <span class="headline-text tab-head ml-10" ng-click="changeTab(2)" ng-class="{'active': curTab == 2}">Users</span>
<!--
    <h1 class="headline-text">
        Communities
    </h1>
-->
    <hr>

    <div class="community" ng-show="curTab == 1">
        <table class="table">
            <thead>
            <tr>
                <th>Community</th>
                <th>Created Date</th>
                <th>Requester</th>
                <th>Details</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='community in communities'>
                <td class="control-label">
                    <a style="font-weight: bold" href="/#!/comm/{{community._id}}" ><span>{{ community.comm_name }}</span></a>
                </td>
                <td class="control-label">{{community.updatedAt | date: "MMM. dd, yyyy"}}</td>
                <td class="control-label">
                    <a href="#!/introduction/{{community.admin._id}}">{{(users | filter:{_id: community.admin._id}:true)[0]._intro.first_name}} {{(users | filter:{_id: community.admin._id}:true)[0]._intro.last_name}}</a>
                </td>
                <td><!-- Button trigger modal -->
                    <button class="btn btn-primary" ng-click="openModal(community)">Details</button>
                </td>
                <td class="control-label">
                    {{community.status}}
                </td>
                <td>
                    <span class="btn btn-success" ng-if="community.status == 'Pending'" ng-click="approveComm(community, true)">Approve</span>
                    <span class="btn btn-default ml-10" ng-if="community.status == 'Pending'" ng-click="approveComm(community, false)">Reject</span>
                    <span class="btn btn-danger ml-10" ng-click="removeComm(community)">Delete</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="community" ng-show="curTab == 2">
        <table class="table">
            <thead>
            <tr>
                <th>Avatar</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Signup Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tr ng-repeat="client in users | filter :{_id: '!' + user._id}">
                <td>
                    <img ng-src="{{client._intro.photo}}" style="width: 20px; max-height: 30px;">
                </td>
                <td><a href ng-click="openIntroModal(client)">{{client.email}}</a> </td>
                <td><a href ng-click="openIntroModal(client)">{{client._intro.first_name}}</a></td>
                <td><a href ng-click="openIntroModal(client)">{{client._intro.last_name}}</a></td>
                <td>{{client.createdAt | date: 'MMM. dd, yyyy'}}</td>
                <td>
                    <span class="btn btn-danger ml-10" ng-click="removeUser(client)">Delete</span>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ item.comm_name }}</h4>
            </div>
            <div class="modal-body">
                This is the details of {{ item.comm_name }} that was established on {{item.updatedAt | date: "MMM. dd, yyyy"}} !<br>
                <p>{{item.description}}</p>
                If you wish to have the opportunity to join in and contribute to the community, we will review your account and accept/decline your request. Thank you for your time.
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="introModal" tabindex="-1" role="dialog" aria-labelledby="introModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="introModalLabel">Profile of {{detailUser.email}}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <img ng-src="{{detailUser._intro.photo}}" style="width: 100px;">
                </div>
                <div class="row mt-10">
                    <span class="col-xs-3">User Name :</span>
                    <div class="col-xs-9">
                        <label>{{detailUser._intro.first_name}} {{detailUser._intro.last_name}}</label>
                    </div>
                </div>
                <div class="row mt-10">
                    <span class="col-xs-3">Age :</span>
                    <label class="col-xs-3">{{detailUser._intro.age}}</label>
                    <span class="col-xs-3">Gender :</span>
                    <label class="col-xs-3">{{detailUser._intro.gender}}</label>
                </div>
                <div class="row mt-10">
                    <span class="col-xs-3">Country :</span>
                    <label class="col-xs-3">{{detailUser._intro.country}}</label>
                    <span class="col-xs-3">State :</span>
                    <label class="col-xs-3">{{detailUser._intro.state}}</label>
                </div>
                <div class="row mt-10">
                    <span class="col-xs-3">City :</span>
                    <label class="col-xs-3">{{detailUser._intro.city}}</label>
                    <span class="col-xs-3">Street :</span>
                    <label class="col-xs-3">{{detailUser._intro.street}}</label>
                </div>
                <div class="row mt-10">
                    <span class="col-xs-3">Zip code :</span>
                    <label class="col-xs-3">{{detailUser._intro.zipcode}}</label>
                    <span class="col-xs-3">Phone :</span>
                    <label class="col-xs-3">{{detailUser._intro.phone}}</label>
                </div>
                <div class="row mt-10">
                    <span class="col-xs-3">Occupation :</span>
                    <label class="col-xs-9">{{detailUser._intro.occupation}}</label>
                </div>
                <div class="row mt-10">
                    <span class="col-xs-3">About :</span>
                    <p class="col-xs-9">{{detailUser._intro.about}}</p>
                </div>
            </div>
        </div>
    </div>
</div>