
<h1 class="headline-text">Communities</h1>

<div class="community">
  <table class="table">
    <thead>
      <tr>
        <th>Community</th>
        <th>Created Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='community in communities'>
        <td><a href="#/community/{{community.id}}" >{{ community.name }} *******</a></td>
        <td>{{community.updatedAt | date: "MMM. dd, yyyy"}}</td>
        <td><button ng-click="participate_community(community._id)">Participate</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="community">
    <h2>Add community</h2>
    <form ng-submit="createCommunity()" class="form-inline">
      <div class="form-group">
        <label for="communityName">Community Name</label>
        <input type="text" class="form-control" id="communityName" ng-model="newcommunity.name">
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>