<div class="community">
    <h3>Welcome to {{comm.comm_name}}!</h3>

    <div ng-if="!isMember(comm.member)">
        <h3>Not a member? Send a Request!</h3>
        <a href="/#!/comms">Go to communities</a>
    </div>

    <div ng-if="isMember(comm.member) || isAdmin(comm.admin)">

        <a href="/#!/newpost/{{comm._id}}"><button class="btn btn-danger">Create a new post</button></a>

        <h3>Show recent posts</h3>
        <table class="table">
            <thead>
                <th>Title</th>
                <th>Posted By</th>
                <th>Replies</th>
                <th>Post date</th>
                <th>Status</th>
            </thead>

            <tbody>
            <tr ng-if="!comm.events.length">
                <td colspan="3">
                    <p>There are no posts in this community yet.. Start a convo!</p>
                </td>
            </tr>
            <tr ng-repeat="event in comm.events">
                <td><a href="/#!/event/{{event._id}}">{{event.title}}</a></td>
                <td>
                    {{event.poster._intro.first_name}} {{event.poster._intro.last_name}}
                </td>
                <td>{{event.messages.length}}</td>
                <td>{{event.createdAt | date: "MM/dd/yyyy"}}</td>
                <td>{{event.status ? 'Issue Resolved' : 'Progressing'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>