<div class="community">



	<h3 class="center-text" ng-bind="thisevent.title"></h3>
	<h4 ng-bind="thisevent.description"></h4>
	<p>Posted by <span class="action-text">{{thisevent.poster.name}}</span> on {{thisevent.createdAt | date: 'MMMM, dd, yyyy - h:ma'}}</p>


	<div ng-if="!isPart() && !isPoster()">
		<button class='btn btn-danger' ng-click="join_part()">Participate in this post</button>
	</div>

	<div ng-if="isPoster() || isPart()">

		<div ng-if="isPoster()">
			<button class='btn btn-danger'>Issue Resolved!</button><br>
		</div>

		<div>
		<hr>
			<p ng-repeat="msg in messages">{{msg.msg}} -- {{msg.createdAt | date: 'MMMM, dd, yyyy - h:ma'}}</p>


		</div>

		<div ng-if="!thisevent.status">
			<textarea ng-model="message.msg" rows="2" cols="65" placeholder="Leave a comment"></textarea>
			<input class='btn btn-danger' type="submit" ng-click="add_msg()" value="Post">

		</div>

		<a href="/#!/comm/{{thisevent._comm._id}}"><button class='btn btn-danger'>Return to Community</button></a>


	</div>









</div>