<h3>Introduction<br/></h3>
  <div class="form">
    <label>First Name</label> 
      <input ng-model="user.first_name" placeholder="First Name"/>

    <label>Last Name</label> 
      <input ng-model="user.last_name" placeholder="Last Name"/>
     
     <label>Age</label> 
     <input type = "number" ng-model="user.age" placeholder="Age"/>
     
     <br><br>


     <label>Gender</label> <br>
      
      <input type="radio" name="gender" value="male" checked> Male<br>
      <input type="radio" name="gender" value="female"> Female<br>
      <input type="radio" name="gender" value="other"> Other

     <br><br>

     <label>Phone Number</label> <br>
     <input type =  ng-model="user.phone" placeholder="Phone Number"/>
     
     <br><br>



     <label>Address      </label><br>
     <input ng-model="user.strtaddress" placeholder="Street Address"/>
     <input ng-model="user.state" placeholder="State"/><br>
     <input ng-model="user.city" placeholder="City"/>
     <input ng-model="user.zip" placeholder="Zipcode"/>
     <input ng-model="user.country" placeholder="Country"/>

     <br><br>

     <label>Description</label><br>
     <textarea name="description" rows="8" cols="40" placeholder="Description"></textarea>
  </div>
  <div class="form-group"><br>
    <button>Submit</button><!-- </a> -->
  </div>
    <a href="#!/registration">Create an Account</a></li>
</div>
