<h3 class="center-text">Introduction<br/></h3>
  <div id="form-container">

    <form name='introForm' novalidate="" ng-submit="introForm.$valid && addIntro()">
      <label>First Name:</label> 
        <input class="form-text" ng-model="user.first_name" placeholder="First Name"/>

      <label id="ln-label">Last Name:</label> 
        <input class="form-text" ng-model="user.last_name" placeholder="Last Name"/>
       <br><br>
       <label>Age:</label> 
       <input class="form-text" type = "number" ng-model="user.age" placeholder="Age"/>
       
       <br><br>

       <label>Gender:</label> <br>
        
        <input type="radio" ng-model="user.gender" name="gender" value="male" checked> Male<br>
        <input type="radio" ng-model="user.gender" name="gender" value="female"> Female<br>
        <input type="radio" ng-model="user.gender" name="gender" value="other"> Other

       <br><br>

       <label>Phone Number:</label> <br>
       <input type="text" phone-input ng-model="user.phone" placeholder="Phone Number"/>
       
       <br><br>



       <label>Address:</label><br>
       <input class="form-text" ng-model="user.strtaddress" placeholder="Street Address"/>
       <input class="form-text" ng-model="user.state" placeholder="State"/><br>
       <input class="form-text" ng-model="user.city" placeholder="City"/>
       <input class="form-text" ng-model="user.zip" placeholder="Zipcode"/>
       <input class="form-text" ng-model="user.country" placeholder="Country"/>

       <br><br>

       <label>About Me:</label><br>
       <textarea name="description" rows="8" cols="40" placeholder="Enter some information about yourself"></textarea>
       <input class="btn btn-primary" type="submit" value="Submit">
      </form>
  </div>

