
  <div id="login-container">
    <h3>Login<br/></h3>
   <p id="bad-validation">{{ errors.login_reg.message }}
    <form name='loginForm' ng-submit="loginForm.$valid && login()">
      <label class="form-label">E-mail Address:</label> 
        <input type="email" class="form-text" ng-model="userLogin.email" placeholder="Please enter your e-mail" required/>
       <br>
       <label class="form-label">Password:</label>
       <input type="password" class="form-text" ng-model="userLogin.password" placeholder="Please enter your password" required/> 

       <a id="new-user" href="#!/register">New User? Click Here to Register</a>
       <input class="btn btn-primary" type="submit" value="Submit">
     </form>
  </div>

