
<h1 class="headline-text">My Communities</h1>


<div class="community">

  <h3>My Communities</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Community</th>
        <th>Created Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='community in user.comms'>
        <td>{{ community.comm_name }}</td>
        <td>{{community.updatedAt | date: "MMM. dd, yyyy"}}</td>
        <td><a ng-if="!isAdmin(community)" href="/#!/comm/{{community._id}}"><button class="btn btn-danger">Enter Community</button></a><a ng-if="isAdmin(community)" href="/#!/comm/{{community._id}}"><button class="btn btn-danger">Manage Community</button></a></td>
      </tr>
    </tbody>
  </table>


  <div ng-if="user.req_comms">
    <h3>Recent Requests</h3>
      <table class="table">
        <thead>
          <th>Community Name</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr ng-repeat="req in user.req_comms">
            <td ng-bind="req.comm_name"></td>
            <td><button class="btn btn-danger" ng-click="remove_req(req._id)">Cancel Request</button></td>

          </tr>

        </tbody>


      </table>


  </div>



</div>

