<div class="community">


  <h3 class="center-text">Ask The Community!</h3>
  <form id="login-container">
    <div>
      <label class="form-label">Title: </label>
      <input class="form-control" type="text" ng-model="thisevent.title">
      <label class="form-label">Description: </label>
      <textarea class="form-control" ng-model="thisevent.description" rows="4" placeholder="give us more info..."></textarea>
      <a class="btn btn-primary mt-10" type="submit" ng-click="newevent()">Post to community</a>
    </div>
  </form>

</div>