<div>

<!--   <hr>{{user}}
  <hr>{{thisevent}}
  <hr>{{comm}} -->

  <h3 class="center-text">Tell the Community!</h3>
  <form id="login-container">
    <label class="form-label">Title: </label>
    <input class="form-text" type="text" ng-model="thisevent.title">
    <label class="form-label">Description: </label>
    <textarea class="form-text" ng-model="thisevent.description" rows="4" cols="85" placeholder="give us more info..."></textarea><br>
    <input class="btn btn-primary" type="submit" ng-click="newevent()" value="Post to community">


  </form>

</div>