<div id="login-container">
  <h3>Registration<br/></h3>
  
  <form name='introForm' ng-submit="introForm.$valid && register()">
    <label>User Name:</label> <br>
      <input class="form-text" type="email" ng-model="registration.email" placeholder="Email"/>
      <input class="form-text" type="email" ng-model="registration.emailconf" placeholder="Confirm E-mail"/>
     <br> <label>Password:</label><br>
     <input class="form-text" type="password" ng-model="registration.password" placeholder="Password"/>
     <input class="form-text" type="password" ng-model="registration.passwordconf" placeholder="Confirm Password"/>
     <br>
     <input class="btn btn-success" type="submit" value="Submit">
  </form>
</div>


  
