<h1>Events</h1>

<div class="row">
  <table class="table table-hover event">
    <thead>
      <tr>
        <th>Event</th>
        <th>Created Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='event in events'>
        <td>  <a href="#/user/{{user.event_id}}" >*********{{ event.name }}***************</a>  </td>
        <td>{{event.updatedAt | date: "MMM. dd, yyyy"}}</td>
        <td><button ng-click="participate_event(event._id)">Participate</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
    <h2>Add event</h2>
    <form ng-submit="createevent()" class="form-inline">
      <div class="form-group">
        <label for="eventName">Name</label>
        <input type="text" class="form-control" id="eventName" ng-model="newevent.name">
      </div>
      <button type="submit">Submit</button>
    </form>
</div>